.header {
   background: #fff;
  .header-top {
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding: 0 20px;
  }
  .breadcrumb {
    height: 40px;
    line-height: 40px;
    border-top: 2px solid #f9c777;
    padding: 0 20px;
    .breadcrumb-title {
      text-align: center;
      &:after {
        position: absolute;
        left: 124px;
        bottom: -7px;
        content: '';
        border-top: 9px solid #fff;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
      }
    }
    .weater {
      text-align: right;
      .weater-data {
        margin-right: 20px;
      }
    }
  }
}